/* tablet 835px */
@media (max-width: 835px) {
    #home {
        background-image: linear-gradient(90deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 100%), url(../images/bg-home.jpg);
        background-size: cover;
        background-position: center;
        color: rgb(255, 255, 255);
    }

    nav {
        background-color: white;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
    }
    
    #home img {
        display: none;
    }

    #home .heading {
        width: 100%;
        text-align: center;
    }

    #home h1 {
        font-size: 70px;
        margin-bottom: 20px;
    }

    #home p {
        font-size: 28px;
        margin-bottom: 50px;
    }

    #home span a {
        font-size: 28px;
        padding: 20px 40px; 
    }
}

/* tablet 800px */
@media (max-width: 800px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 80px;
        height: 50vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 10px 1rem -10px rgba(0, 0, 0, .1);
        z-index: -1;
        width: 40%;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul li a {
        padding: 20px 40px;
        font-size: 1.3em;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
    .container-contact {
        width: 70%;
    }
    .container-contact h2 {
        font-size: 25px;
    }
}

/* mobile 600px*/
@media (max-width: 600px) {
    nav .logo {
        font-size: 24px;
    }

    nav ul li a {
        font-size: 12px;
        padding: 10px 20px;
    }

    nav ul {
        display: inline-block;
        text-align: center;
        height: 330px;
    }

    nav ul li {
        margin: 0;
        height: 80px;
    }

    #home h1 {
        font-size: 45px;
        margin-bottom: 15px;
    }

    #home p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    #home span a {
        font-size: 18px;
        padding: 13px 26px;
    }
}

/* For Smartphones */
@media all and (max-width: 760px) {    
    
  
    .right img {
      width: 300px;
    }
  
    .content-item {
      display: block;
      text-align: center;
      padding: 0;
    }
  
    .content-icon {
      width: 100%;
      padding: 0;
    }
  
    .right .content-icon {
      width: 100%;
      padding: 0;
    }
  
    .content-wrapper .content-item .right {
      display: block;
    }

    .content-wrapper .content-item .left {
        display: none;
    }
  
    .text-contents {
      display: inline-block;
      padding: 0;
      padding-bottom: 20px;
      margin: 0;
      width: 100%;
    }
  
    .text-contents h3 {
      font-size: 24px;
      padding-bottom: 5px;
    }
  
    .text-contents p {
      width: 100%;
      font-size: 16px;
    }
}

@media all and (max-width: 1000px) {
    .content-wrapper {
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 690px) {
	.slide {
		flex-direction: row;
		text-align: left;
	}
	.slide-text {
		background-position: 10% top;
		background-size: 100px;
		align-items: flex-start;
	}
	.slide-img {
		margin-left: -100px;
		z-index: -1;
	}
	.slide-img img {
		width: 400px;
	}
	.buttons {
		top: 415px;
		transform: translate(0);
		left: calc(100% - 400px);
	}
    .testimonial-text {
        font-size: 23px;
    }
}
@media only screen and (max-width: 755px) {
    .author-text {
        max-width: 200px;
    }
}
@media only screen and (max-width: 690px) {
	.slide-img img {
		width: 200px;
	}
	.slide-img {
		padding: 10px;
	}
	.buttons {
		top: 180px;
	}
    .team {
        font-size: 25px;
        top: 30px;
    }
    .testimonial-text {
        font-size: 20px;
    }
    .author-text {
        max-width: 250px;
    }
}

@media only screen and (max-width: 445px) {
    .container-contact h2 {
        font-size: 20px;
    }
    .content-item .content-icon img {
        width: 200px;
    }
}